<md-card>
  <div class="functions">
    <button
      id="button-clear"
      color='accent'
      md-raised-button
      (click)="clearProcess()">
      clear
    </button>
    <button
      id="button-left-paren"
      color="accent"
      md-raised-button
      value="("
      (click)="handleClick('button-left-paren')">
      (
    </button>
    <button
      id="button-right-paren"
      color="accent"
      md-raised-button
      value=")"
      (click)="handleClick('button-right-paren')">
      )
    </button>
  </div>
  <div class="nums">
    <button
      id="button-pi"
      color="accent"
      md-raised-button
      [value]="getPi()"
      (click)="handleClick('button-pi')">
      &#960;
    </button>
    <button
      id="button-seven"
      color="primary"
      md-raised-button
      value="7"
      (click)="handleClick('button-seven')">
      7
    </button>
    <button 
    id="button-eight"
    md-raised-button
    color="primary"
    value="8"
    (click)="handleClick('button-eight')">
      8
    </button>
    <button 
    id="button-nine"
    md-raised-button
    color="primary"
    value="9"
    (click)="handleClick('button-nine')">
      9
    </button>
    
    <button 
     id="button-divide"
     md-raised-button
     color="accent"
     value="/"
     (click)="handleClick('button-divide')">
      &#247;
   </button>
    <br />
    <button
      id="button-squared"
      color="accent"
      md-raised-button
      (click)="handleSquares()">
      x<sup style="font-size: 9px">2</sup>
    </button>
    <button
      id="button-four" 
      md-raised-button
      color="primary"
      value="4"
      (click)="handleClick('button-four')">
      4
    </button>
    <button
      id="button-five" 
      md-raised-button
      color="primary"
      value="5"
    (click)="handleClick('button-five')">
      5
    </button>
    <button 
      id='button-six'
      md-raised-button
      color="primary"
      value="6"
      (click)="handleClick('button-six')">
      6
    </button>
    
    <button
     id="button-multiply" 
     md-raised-button
     color="accent"
     value="*"
     (click)="handleClick('button-multiply')">
      &#x0002A;
   </button>
    <br />
    <button
      id="button-radical"
      md-raised-button
      color="accent"
      value="sqrt"
      (click)="handleClick('button-radical')">
      &#8730;	
    </button>
    <button 
      id="button-one"
      md-raised-button
      color="primary"
      value="1"
      (click)="handleClick('button-one')">
      1
   </button>
   <button 
    id="button-two"
    md-raised-button
    color="primary"
    value="2"
    (click)="handleClick('button-two')">
      2
   </button>
   <button
     id="button-three"
     md-raised-button
     color="primary"
     value="3"
     (click)="handleClick('button-three')">
      3
   </button>
   <button 
      id="button-subtract"
      md-raised-button
      color="accent"
      value='-'
      (click)="handleClick('button-subtract')">
      &#x02013;
    </button>
   <br />
   <button
     id="button-percent"
     md-raised-button
     color="accent"
     value="percent btn"
     (click)="handleClick('button-percent')">
     &#x00025;
   </button>
   <button
     id="button-zero" 
     md-raised-button
     color="primary"
     value="0"
     (click)="handleClick('button-zero')">
      0
   </button>
   <button 
     id="button-decimal"
     md-raised-button
     color="accent"
     value="."
     (click)="handleClick('button-decimal')">
      .
   </button>
   <button
     id="button-equal" 
     md-raised-button
     color="accent"
     value="equal"
     (click)='processMath(this.values)'>
      &#x0003D;
   </button>
   <button
      id="button-plus"
      md-raised-button
      color="accent"
      value="+"
      (click)="handleClick('button-plus')">
        +
    </button>
  </div>
</md-card>
