<md-card>
  <div
  class="output">
  </div>
  <div class="functions">
    <button
      id="button-clear"
      color="accent"
      md-raised-button
      (click)="clearProcess()">
        AC
    </button>
    <button
      id="button-clear-single-digit"
      color='accent'
      md-raised-button
      (click)="clearSingle()">
      CE
    </button>
    <button
      id="button-divide"
      md-raised-button
      color="accent"
      value="/"
      (click)="handleClick('button-divide')"
      (click)="addHtml('&#247;')">
      &#247;
    </button>
    <button
      id="button-multiply"
      md-raised-button
      color="accent"
      value="*"
      (click)="handleClick('button-multiply')"
      (click)="addHtml('&#x0002A;')">
      &#x0002A;
    </button>
  </div>

    <button
      id="button-seven"
      color="primary"
      md-raised-button
      value="7"
      (click)="handleClick('button-seven')"
      (click)="addHtml('7')">
      7
    </button>
    <button 
    id="button-eight"
    md-raised-button
    color="primary"
    value="8"
    (click)="handleClick('button-eight')"
    (click)="addHtml('8')">
      8
    </button>
    <button 
    id="button-nine"
    md-raised-button
    color="primary"
    value="9"
    (click)="handleClick('button-nine')"
    (click)="addHtml('9')">
      9
    </button>
    <button
      id="button-subtract"
      md-raised-button
      color="accent"
      value='-'
      (click)="handleClick('button-subtract')"
      (click)="addHtml('&#x02013;')">
        &#x02013;
    </button>
    <br />
    <button
      id="button-four" 
      md-raised-button
      color="primary"
      value="4"
      (click)="handleClick('button-four')"
      (click)="addHtml('4')">
      4
    </button>
    <button
      id="button-five" 
      md-raised-button
      color="primary"
      value="5"
    (click)="handleClick('button-five')"
    (click)="addHtml('5')">
      5
    </button>
    <button
      id='button-six'
      md-raised-button
      color="primary"
      value="6"
      (click)="handleClick('button-six')"
      (click)="addHtml('6')">
      6
    </button>
    <button
      id="button-plus"
      md-raised-button
      color="accent"
      value="+"
      (click)="handleClick('button-plus')"
      (click)="addHtml('&#x0002B;')">
        &#x0002B;
    </button>
    <br />
    <button 
      id="button-one"
      md-raised-button
      color="primary"
      value="1"
      (click)="handleClick('button-one')"
      (click)="addHtml('1')">
      1
   </button>
   <button 
    id="button-two"
    md-raised-button
    color="primary"
    value="2"
    (click)="handleClick('button-two')"
    (click)="addHtml('2')">
      2
   </button>
   <button
     id="button-three"
     md-raised-button
     color="primary"
     value="3"
     (click)="handleClick('button-three')"
     (click)="addHtml('3')">
      3
   </button>
   <button
     id="button-percent"
     md-raised-button
     color="accent"
     value="%"
     (click)="addHtml('%')"
     (click)="convertPercent()">
       %
   </button>
   <br />
   <button
     id="button-zero" 
     md-raised-button
     color="primary"
     value="0"
     (click)="handleClick('button-zero')"
     (click)="addHtml('0')">
      0
   </button>
   <button 
     id="button-decimal"
     md-raised-button
     color="accent"
     value="."
     (click)="handleClick('button-decimal')"
     (click)="addHtml('.')">
      .
   </button>
   <button
     id="button-equal" 
     md-raised-button
     color="accent"
     value="equal"
     (click)='processMath(this.values)'>
      &#x0003D;
   </button>
</md-card>
